# Day 1 of 200 day's Python Challenge

## Basic math operations

#### Python allow to Simply Excute  a basic math operations

In [1]:
5 * 5

25

In [2]:
234 + 45

279

In [3]:
5**5

3125

## Variable Declarations

In [4]:
a = 10

In [5]:
a

10

In [6]:
abhi = 20

In [7]:
abhi

20

In [8]:
a + abhi

30

## Data Types in Python

In [9]:
type(a)

int

In [10]:
type(abhi)

int

In [11]:
f = 230.43

In [12]:
f

230.43

In [13]:
type(f)

float

In [14]:
s = "Tech1.Abhi"

In [15]:
s

'Tech1.Abhi'

In [16]:
 type(s)

str

In [17]:
w = "Day 1 of 200 day's Python challenge"

In [18]:
w

"Day 1 of 200 day's Python challenge"

In [19]:
type(w)

str

In [20]:
b = True

In [21]:
b

True

In [22]:
type(b)

bool

In [23]:
d = False

In [24]:
type(d)

bool

In [25]:
c = 5 + 7j

In [26]:
type(c)

complex

## Boolean Data Type in

#### In Python programming value of True = 1 and False = 0. So..

In [27]:

False + False

0

In [28]:
True + False # And wise versha

1

In [29]:
True + True

2

In [30]:
False - False

0

In [31]:
True - False

1

In [32]:
False - True

-1

In [33]:
True - True

0

In [34]:
False * False

0

In [35]:
True * False # And wise versha

0

In [36]:
True * True

1

In [37]:
False / False # Here like 0/0 so it will return Divide by Zero Error

ZeroDivisionError: division by zero

In [ ]:
False / True

0.0

In [ ]:
True / False # Here like 1/0 so it will also return Divide By Zero Error

ZeroDivisionError: division by zero

In [ ]:
True / True

1.0

## Complex Data 
### It used to define a complex number in python

In [ ]:
c

(5+7j)

In [ ]:
type(c)

complex

In [ ]:
c.real

5.0

In [ ]:
c.imag

7.0

## Print Function

### It is use to print any variable or print all things those in quets it may be Single quet or Double quet.

In [ ]:
print("My name is 'Abhi Kumar' or Your 'Ratan'")

My name is 'Abhi Kumar' or Your 'Ratan'

In [ ]:
print(a)

10

In [ ]:
print(b)

True

In [ ]:
print(c)

(5+7j)

In [ ]:
print(s)

Tech1.Abhi

In [ ]:
print(type(s)) # We also can this, in this line it will print a variable 's' belongs to 'str' class type.

<class 'str'>

## String
### In string each character store in specific block that is called index and it is start from 0(By default).  And it can be Positive or Negative

In [ ]:
s[0]

'T'

In [ ]:
s = 'Tech1.Abhi'

In [ ]:
s[4]

'1'

In [ ]:
s[6]

'A'

In [ ]:
s[-1]	# Negative indexing start from end of the string to starting of the string and it start from -1

'i'

In [ ]:
s[-6]

'1'

In [ ]:
s[9000] # In string 's' no index of 9000 so it will return a Index Error.

IndexError: string index out of range

## Slicing
### It return a substring of the string where we define a 2 or 3 aurgument 
#### 1. Start 
#### 2. Stop + 1
#### 3. Step

In [ ]:
s

'Tech1.Abhi'

In [ ]:
w

"Day 1 of 200 day's Python challenge"

In [ ]:
s[:]

'Tech1.Abhi'

In [ ]:
s[0:]

'Tech1.Abhi'

In [ ]:
s[-1:]

'i'

In [ ]:
s[:5]

'Tech1'

In [ ]:
s[6:10]

'Abhi'

In [ ]:
s[::1]

'Tech1.Abhi'

In [ ]:
s[::-1]

'ihbA.1hceT'

In [ ]:
s[::2]

'Tc1Ah'

In [ ]:
s[0::2]

'Tc1Ah'

In [ ]:
s[2:10:2]

'c1Ah'

In [ ]:
s[2:-5:-1]

''

In [ ]:
s[-2:1:2]

''

In [ ]:
s[-2:-8:-2]

'hA1'

In [ ]:
s[-7::-1]

'hceT'

In [ ]:
s[:-900000:-1]

'ihbA.1hceT'

In [ ]:
s[:9000:-1]

''

In [ ]:
s[:90000:1]

'Tech1.Abhi'

In [ ]:
s[:-9000:1]

''

In [ ]:
s

'Tech1.Abhi'

In [ ]:
w

"Day 1 of 200 day's Python challenge"

## Len Function 
### It is used to find a length of any string

In [ ]:
len(s)

10

In [ ]:
len(w)

35

## Find Function 
### It is used to find a any character or substring index

In [38]:
s.find('e')

1

In [ ]:
w.find('Python')

19

In [ ]:
s.find('abhi')

-1

In [ ]:
w.find('pth')

-1

In [ ]:
w.find('Pyh')

-1

In [ ]:
w.find('Pyt')

19

## Count Function
### It is used to find a any character or substring how many times occurrs

In [ ]:
w.count('s')

1

In [ ]:
w.count('a')

3

In [ ]:
w.count('Z')

0

In [ ]:
s

'Tech1.Abhi'

In [ ]:
s.upper()

'TECH1.ABHI'

In [ ]:
w

"Day 1 of 200 day's Python challenge"

In [ ]:
w.upper()

"DAY 1 OF 200 DAY'S PYTHON CHALLENGE"

In [ ]:
w

"Day 1 of 200 day's Python challenge"

In [ ]:
w[26:].upper()

'CHALLENGE'

In [ ]:
Cw = w.upper()

In [ ]:
Cw

"DAY 1 OF 200 DAY'S PYTHON CHALLENGE"

In [ ]:
Cw.lower()

"day 1 of 200 day's python challenge"

In [ ]:
w.title()

"Day 1 Of 200 Day'S Python Challenge"

In [39]:
word = 'this is my first python class'

In [40]:
word.capitalize()

'This is my first python class'

In [ ]:
s

'Tech1.Abhi'

In [ ]:
s + '.Kumar'

'Tech1.Abhi.Kumar'

In [ ]:
s + 1 # It will return a Error because in string can not add a any type of integer number

TypeError: can only concatenate str (not "int") to str

In [ ]:
# If we want to add a number in string so first convert a number into a string and then add
# And any data type to convert any another data type. 'Topic is called!' : "Type Conversion"
s + str(1)

'Tech1.Abhi1'

In [ ]:
# Otherwise we can also this
s + '1'

'Tech1.Abhi1'

In [ ]:
# '-' (Minus)and '/' (Division) Operator not work in string any how. It will Allway's gives a Error.

In [ ]:
s = s + " "

In [ ]:
s

'Tech1.Abhi '

In [ ]:
s*3

'Tech1.Abhi Tech1.Abhi Tech1.Abhi '

In [41]:
s * "kumar"

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
s*10

'Tech1.Abhi Tech1.Abhi Tech1.Abhi Tech1.Abhi Tech1.Abhi Tech1.Abhi Tech1.Abhi Tech1.Abhi Tech1.Abhi Tech1.Abhi '

In [ ]:
"don"t do copy and paste in my class"

SyntaxError: invalid syntax (3102642506.py, line 1)

In [ ]:
# And
'don't do copy and paste in my class'

SyntaxError: invalid syntax (2262456085.py, line 2)

In [ ]:
# So
"don't do copy and paste in my class"

"don't do copy and paste in my class"

In [ ]:
# Otherwise
'don"t do copy and paste in my class'

'don"t do copy and paste in my class'

In [ ]:
# Hello Guy's!
# This is a day 1 of my own 200 day's Python challenge
# And today i'm learn a basics of python operations
# And i hope it will a interesting journey with me for you

In [ ]:
''' Hello Guy's!
This is a day 1 of my own 200 day's Python challenge
And today i'm learn a basics of python operations
And i hope it will a interesting journey with me for you '''

" Hello Guy's!\nThis is a day 1 of my own 200 day's Python challenge\nAnd today i'm learn a basics of python operations\nAnd i hope it will a interesting journey with me for you "

In [ ]:
cs = ''' Hello Guy's!
This is a day 1 of my own 200 day's Python challenge
And today i'm learn a basics of python operations
And i hope it will a interesting journey with me for you '''

In [ ]:
cs

" Hello Guy's!\nThis is a day 1 of my own 200 day's Python challenge\nAnd today i'm learn a basics of python operations\nAnd i hope it will a interesting journey with me for you "

In [ ]:
56%8

0